
.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding-top: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-color:rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  text-indent: 10px;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-btn {
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
  width: 100%;
  height: 55px; 
  background: #FF8C38;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  transform: translate(1px, 1px);
}

.login-btn:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

@media screen and (max-width: 950px) {
    .login-container {
        width: 100%;
        padding-inline: 5vw;
        text-align: center;
    }
}