

.vans-page {
  padding-inline: 23px;
  margin-bottom: 20px
}

.vans-page--header {
  max-width: 480px;
}

.vans-page--title { 
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.van--description-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.vans-filters {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.vans-filers--type {
  width: 104px;
  height: 37px;
  background: #FFEAD0;
  border-radius: 5px;
  color:#4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  border: none;
}

.vans-filers--type:hover {
  cursor: pointer;
}

.clear-filters-btn {
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
  color: #4D4D4D;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: none;

}

.clear-filters-btn:hover {
  text-decoration: underline;
  font-weight: bold;
}

.vans-list {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(30%, 1fr));
  justify-items: center;
  gap: 2.5rem;
  margin-top: 57px;
}

.van {
  width: 100%;
  text-decoration: none;
  color: #161616;
}

.van--image {
  border-radius: 5px;
  width: 100%;
}

.van--name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.van--type {
  padding: 10px 20px;
  color: #FFEAD0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.simple, .filter-simple:hover, .filter-simple.selected {
  background: #E17654;
  color: #FFEAD0;
}
.rugged, .filter-rugged:hover, .filter-rugged.selected {
  background: #115E59;
  color: #FFEAD0;
}
.luxury, .filter-luxury:hover, .filter-luxury.selected {
  background: #161616;
  color: #FFEAD0;
}

.van--price, .van--price-day {
  margin: 0px;
  padding: 0px;
  color: #161616;
}

.van--price {
  font-weight: 600;
  font-size: 20px;
}

.van--price-day {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
}

@media screen and (max-width: 950px) {
    .vans-list {
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
    }

    .van--name, .van--price, .van--type {
        font-size: 3.8vw;
    }
}